fastapi
uvicorn[standard]
sqlalchemy[asyncio]
alembic
asyncpg
psycopg2-binary
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
python-multipart
redis
celery
python-dotenv
emails
jinja2
pytest
pytest-asyncio
httpx
python-barcode
qrcode
Pillow
email-validator

